.resumeContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

.resumeH3 {
    letter-spacing: 1px;
    text-align: left;
    color: #4A55A2;
}

.skillContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hr {
    width: 100%;
    border: none;
    height: 1px;
    margin: 10px 0;
    background-color: lightgray;
    border-radius: 10px;
}

.skillsItems {
    width: 100%;
    /* margin: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.skillsItem {
    width: 120px;
    margin: 10px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.skillsItemIcon {
    width: 50px;
    height: 50px;
}

.skillsItemP {
    font-size: 14px;
}

.educationItem {
    width: 200px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.label {
    border: 1px solid #4A55A2;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    color: #4A55A2;
    font-size: 13px;
}

.educationItemIcon {
    width: 60px;
    height: 60px;
    margin: 5px 0;
}

.educationH3 {
    margin: 5px 0;
    color: #4A55A2;
    text-align: left;
}

.educationP {
    text-align: left;
    margin: 5px 0;
    font-size: 12px;
}

@media (max-width: 820px) {
    .educationItemIcon {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 550px) {
    .skillsItems {
        margin: 0;
    }

    .educationItem {
        margin-left: unset;
    }

    .skillsItem {
        width: 95px;
    }
}