.contactContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contactH3 {
    letter-spacing: 1px;
    text-align: left;
    color: #4A55A2;
}

.hr {
    width: 100%;
    margin: 20px auto;
    border: none;
    height: 1px;
    background-color: lightgray;
    border-radius: 10px;
}

.contactDetails {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    word-spacing: 0px;
}

.contactP {
    margin: 5px;
    font-size: 14px;
    text-align: left;
}

.formContainer {
    width: 95%;
    margin: 15px 0;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}

.formInputContainer {
    width: 95%;
    height: 50px;
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.contactFormIcon {
    font-size: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(211, 211, 211, 0.259);
    color: #869fa5;
}

.contactFormInput {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: white;
    color: #4A55A2;
    font-size: 13px;
}

.contactFormInput::placeholder, .contactFormTextarea::placeholder {
    font-size: 12px;
}

.contactFormInput.wrongInput {
    background-color: #ff000033;
}

.formTextareaContainer {
    width: 95%;
    height: 150px;
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.contactFormTextarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: white;
    color: #4A55A2;
    font-size: 14px;
    resize: none;
}

.submitBtn {
    height: 40px;
    margin: 15px 0;
    border-left: 1px solid #4A55A2;
    border-bottom: 1px solid #4A55A2;
    border-top: none;
    border-right: none;
    outline: none;
    background-color: transparent;
    color: #4A55A2;
    opacity: 0.9;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btnIcon {
    margin: 0 5px;
}

.submitBtn:hover {
    opacity: 1;
    background-color: #4A55A2;
    color: white;
}

.submitBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.submitBtn:disabled:hover {
    color: #4A55A2;
    font-weight: 700;
}

.linkedin {
    color: #0A66C2;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 450px) {
    .formInputContainer, .formTextareaContainer {
        width: 100%;
    }
    .contactContainer {
        padding: 10px;
    }

    .submitBtn {
        width: 100%;
    }
}