.aboutContaner {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

.aboutDetailsContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.aboutH3 {
    letter-spacing: 1px;
    text-align: left;
    color: #4A55A2;
}

.hr {
    width: 100%;
    border: none;
    height: 1px;
    margin: 20px 0;
    background-color: lightgray;
    border-radius: 10px;
}

.aboutDetails {
    width: 95%;
    text-align: left;
}
.aboutP {
    margin: 2px;
    font-size: 14px;
    font-weight: 400;
}

.servicesContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.serviceItem {
    width: 200px;
    margin: 15px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    word-spacing: -1px;
}

.serviceIcon {
    width: 60px;
    height: 60px;
}

.serviceH3 {
    position: relative;
    margin: 10px 0;
    color: #4A55A2;
}

.serviceH3::after {
    content: '';
    position: absolute;
    top: 1px;
    left: -14px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #4a54a229;
}

.serviceP {
    margin: 5px 0;
    text-align: left;
    font-size: 14px;
}

.contactDetailsGroup {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.contactDetailsItem {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contactItem {
    font-size: 14px;
    margin: 3px 0;
}

.contactLabel {
    font-weight: 600;
    font-size: 14px;
    margin-right: 3px;
}

@media (max-width: 550px) {
    .aboutContaner {
        padding: 10px;
    }
    .serviceItem {
        width: 100%;
    }

    .serviceIcon {
        width: 50px;
        height: 50px;
    }

    .contactDetailsItem {
        flex-flow: column;
        align-items: flex-start;
    }
}