.topbarContainer {
    padding: 15px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.topbarIconContainer {
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #7895CB;
    cursor: pointer;
}

.topbarIcon {
    font-size: 20px;
    margin: 5px;
}

.topbarP {
    margin: 5px;
    font-size: 12px;
}

.topbarIconContainer:hover {
    color: #4a54a2e8;
}

.topbarIconContainer.activeIcon {
    color: #4a54a2e8;
}

@media (max-width: 550px) {
    .topbarContainer {
        flex-flow: row;
        border-radius: unset;
        justify-content: space-evenly;
        padding: 5px;
    }

    .topbarP {
        margin: 2px;
    }
}